body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Roboto", sans-serif;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
a,
a:hover {
    text-decoration: none;
    color: inherit;
}
a.button {
    display: block;
    width: 125px;
    height: 50px;
    line-height: 50px;
    background-color: #fff51f;
    color: #000000;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    outline: 2px solid transparent;
}
a.button:hover {
    color: #ffffff;
}
a.button:active {
    outline: 2px solid #ffffff;
}
.error {
    color: red;
}
.uppercase {
    text-transform: uppercase;
}
.slide {
    min-height: 700px;
    background-color: #abeafa;
    padding: 25px 0;
    font-family: "Raleway", sans-serif;
    background: url(../images/canine-dog-german-shepherd-38284.jpg) center center no-repeat;
}
.slide-header {
    height: 115px;
    background: url("../images/Logo-My-Friend.png") center center no-repeat;
    background-size: contain;
}
.slide-title {
    margin-top: 110px;
    max-width: 315px;
    min-height: 230px;
    color: #fff51f;
}
.slide-title-header {
    font-size: 48px;
    font-weight: 700;
    line-height: 34px;
    margin: 0 0 5px 0;
}
.slide-title-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}
.slide-welcome {
    margin-top: 175px;
    max-width: 270px;
    min-height: 300px;
    color: #333333;
    background-color: #fff51f;
    padding: 22px;
}
.slide-welcome-header {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    margin: 60px 0 24px 0;
}
.slide-welcome-text {
    font-size: 18px;
    font-weight: 700;
    line-height: 14px;
    font-style: italic;
    margin: 0;
}
.top-links {
    text-align: right;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 1px 1px 1px grey;
}
.social-logo-small {
    float: right;
    color: #ffffff;
}
.slide .social-logo-small .top-links {
    margin-top: 25px;
}
.social-logo-small a {
    display: inline-block;
    padding: 0 5px;
    text-shadow: 1px 1px 1px grey;
}
.content {
    background-color: #f8f8f8;
}
.menu {
    font-weight: 900;
    font-size: 14px;
    max-width: 270px;
}
.menu,
.submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.level1 {
    background-color: #26d2fc;
}
.level2 {
    background-color: #75e3fe;
}
.level3 {
    background-color: #81e6ff;
}
li {
    position: relative;
    min-height: 37px;
}
li.caption {
    height: 66px;
    padding: 22px 40px;
}
li > a {
    display: block;
    padding: 10px 40px;
    color: #000000;
}
li .submenu {
    display: none;
}
li:hover .submenu {
    display: block;
}
@media all and (min-width: 992px) {
    li:hover .submenu {
        display: none;
    }
    li:hover > .submenu {
        display: block;
        position: absolute;
        width: 250px;
        top: 0;
        left: 100%;
        z-index: 100;
    }
    .submenu {
        list-style: square;
        padding-left: 40px;
    }
    .submenu > li > a {
        padding-left: 0;
    }
}
.menu > li:hover > a,
li.caption {
    color: #ffffff;
    background-color: #333333;
}
.submenu > li > a > .select-arrow {
    color: transparent;
}
.submenu > li:hover > a > .select-arrow {
    color: #000000;
}
.select-arrow {
    float: right;
    margin-right: -35px;
}
.banner {
    max-width: 270px;
    height: 300px;
    margin-top: 30px;
    background: url(../images/image-2018-04-10.jpg) center center no-repeat;
    background-size: cover;
}
.banner-text {
    float: right;
    margin-top: 130px;
    max-width: 110px;
    font-family: "Raleway", sans-serif;
    color: #26d2fc;
    font-size: 36px;
    font-weight: 800;
    line-height: 36px;
    font-style: italic;
}
.catalogue {
    background-color: #f8f8f8;
}
.section-header {
    min-height: 80px;
    padding: 25px;
    color: #707070;
    font-size: 22px;
    font-weight: 900;
    font-style: italic;
}
.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.product {
    position: relative;
    width: 260px;
    padding: 10px;
    margin-bottom: 30px;
    background-color: #ffffff;
}
.product-img {
    height: 230px;
}
.product-descr {
    min-height: 70px;
    padding-top: 24px;
    font-weight: 900;
    font-style: italic;
    line-height: 18px;
}
.product-descr::after {
    display: table;
    content: "";
    clear: both;
}
.product-action {
    min-height: 50px;
}
.page {
    background-color: #ffffff;  
    padding: 10px;    
}
.page table {
    width: 100%;
}

@media all and (max-width: 991px){
    .page th {
        display: none;
    }
    
    .page td {
        display: block;
        width: 100%;
    }

    .page tr {
        display: block;
        margin-bottom: 10px;
    }
}

td.center {
    text-align: center;
}
td.right {
    text-align: right;
}
tfoot {
    font-weight: 700;
}
.product-info-img {
    width: 100%;    
}
ul.product-features, ul.product-reviews {
    color: #333333;
    font-size: 14px;  
}
form.review {
    width: 100%;
    margin: 10px auto;
}
form.review textarea {
    resize: none;
    width: 100%;
    height: 100px;
}
.product-name {
    float: left;
    max-width: 160px;
    color: #333333;
    font-size: 14px;
    text-transform: uppercase;
}
.product-price {
    float: right;
    min-width: 80px;
    text-align: right;
    padding-right: 2px;
}
.corner {
    width: 46px;
    height: 46px;
    position: absolute;
    top: 0;
    right: 0;
}
.corner-new {
    width: 0;
    height: 0;
    border-top: 46px solid #e24602;
    border-left: 46px solid transparent;
}
.corner-hot {
    width: 0;
    height: 0;
    border-top: 46px solid #faef03;
    border-left: 46px solid transparent;
}
.corner-text {
    width: 23px;
    height: 23px;
    line-height: 23px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 9px;
    font-weight: 400;
}
.corner-text-hot {
    color: #000000;
}
.corner-text-new {
    color: #ffffff;
}
.product-img img,
.product-info-img img,
.banner-img img,
.brand-img img,
.instagram-img img {
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}
.price:not(:empty)::after {
    content: " \20BD";
}
.actual-price {
    color: #333333;
    font-size: 18px;
}
.former-price {
    color: rgba(255, 0, 0, 0.6);
    font-size: 14px;
    text-decoration: line-through;
}
.brands {
    min-height: 160px;
    margin-top: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.brand-img {
    width: 100px;
    padding: 10px 0;
}
.instagram {
    background-color: #eaeaea;
}
.instagram-header {
    min-height: 100px;
    padding: 35px 0;
    color: #333333;
    font-size: 22px;
    font-weight: 900;
    font-style: italic;
    text-align: center;
}
.instagram-items {
    min-height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.instagram-id {
    font-size: 18px;
}
.instagram-item {
    width: 180px;
    height: 180px;
    padding: 10px;
    background-color: #ffffff;
}
.instagram-img,
.banner-img {
    height: 100%;
}
.social-logo-large {
    width: 100%;
    height: 150px;
    color: #ffffff;
}
.social-logo-large a {
    display: block;
    height: 100%;
    text-align: center;
    padding: 40px 0;
}
.logo-facebook a {
    background-color: #3b5997;
}
.logo-twitter a {
    background-color: #3fccfd;
}
.logo-pinterest a {
    background-color: #cb2027;
}
.footer {
    background-color: #373737;
    min-height: 300px;
    color: #ffffff;
    padding-top: 50px;
}
.footer-block {
    padding: 25px 0;
}
.footer-block-title {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.footer-block-content {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-top: 28px;
}
.footer-block-content-wide {
    line-height: 12px;
}
.footer-block-content a {
    display: block;
}
input {
    line-height: 1.25em;
    padding: 5px;
    font-weight: 700;
    border: 0;
    max-width: 100%;
}
input[type="email"] {
    color: #333333;
    background-color: #fff51f;
}
input[type="email"]:focus {
    color: #000000;
    background-color: #ffffff;
}
input[type="submit"] { 
    color: #ffffff;
    background-color: #000000;
    outline: 2px solid transparent;
}
input[type="submit"]:active {
    outline: 2px solid #fff51f;
}
form.subscribe {
    margin-top: 20px;
    width: inherit;
}
.payment {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
p.contact {
    font-size: 14px;
    font-weight: 400;
}
p.contact a {
    display: inline;
    color: #faef03;
}
span.fixed-width {
    display: inline-block;
    min-width: 25%;
}
.footer-copyright {
    background-color: #333333;
    min-height: 50px;
    color: #dad9d9;
    font-size: 12px;
    font-weight: 400;
    padding-top: 15px;
}
.top-overlap {
    position: relative;
    top: -15px;
    margin-bottom: -15px;
}
